*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}

:root{
    font: 1.2rem;
    font-family: 'Roboto', sans-serif;
}
main{
    display: flex;
    margin-top: 1.6rem;
    margin-left: 1rem;

}
h1{
    font-size: 1.6rem;
    font-weight: 800;
    color: #D2872C;
}
i{
  font-size: 2rem;
 margin-left: 12rem;
 color: #000000;

}
/*nav{
    display: flex;
    visibility: hidden;
    position: absolute;
}
*/
nav{
background: #ffffff;
width: 185px;
height: 37rem;
position: absolute; /*necessária para o funcionamento*/
left: -100%;  /*é com essa propriedade que o menu fica escondido a esquerda*/
transition: left .5s;
display: flex;
flex-direction: column;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
nav a{
    text-decoration: none;
    color: #000000;
    text-align: center;
    margin-top: 2rem;
    
    height: 4rem;
}
.team{
    margin-left: 1rem;
}

.team img{
    width: 24rem;
    height: 20rem;
    
}
.container{display: flex;
flex-direction: column;}
h2{
    color: #000000;
    text-align: center;
    font-size: 2.4rem;
}
span{
    color: #000000;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 2rem;
}

.button{
    width: 16rem;
    height: 3rem;
    margin-top: 1rem;
    margin-left: 5rem;
    background: #D2872C;
    border-radius: 0.8rem;
    border: 0;
    color: #ffffff;
    font-size: 1.2rem;
    outline: 0;
    cursor: pointer;
    transition: 1s;

    
}
.button:hover{
  background: #f5a645 ;
}
